/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

@charset "utf-8";

@use "bootstrap/scss/bootstrap" as *;

@font-face {
  font-family: 'Nanum Gothic';
  src: local('☺'),url('/fonts/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),url('/fonts/NanumGothic-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src:  url('/fonts/material-icon.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  vertical-align: middle;
  font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

$default-bg : #ddd;
$default-color: $body-color;
$secondary-bg :#fff;

$color-mode-type: data;

html,body {margin:0;padding:0; height:100%}
body {background-color:$default-bg;color: $default-color; font-family: "Nanum Gothic", "나눔고딕", "Malgun Gothic", "맑은 고딕", "gulim","굴림","Dotum", "돋움", Arial, Helvetica, sans-serif;}

label {vertical-align:middle;cursor:pointer}
a img {border:none}
input {vertical-align:middle}
fieldset {border:none}
legend {display:none}
a{color:#666;text-decoration:none;}
a:active {color:red}
a:hover{color:#333;text-decoration:underline;}
a img {border:none}

h1 {font-size :200%}
h2 {font-size :160%}
h3 {font-size :140%}
h4,h5,h6 {font-size : 120%}

/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}

/* layout */
footer {clear:both;float:left;width:80%;margin:0 10%;color:#666;text-align: center}
footer div {margin:0}
#mom {clear:both;float:left;width:100%;padding:0}
.sub_main {float:left;position:relative;width:100%;margin:0 auto;padding:30px 0}
.page-header {float:left;width:100%}
.page-header h2 {float:left;margin:0.7em 0 0;padding:0;font-weight:bold;color:#666}
.page-header .breadcrumb  {float:right;margin:0}
.alert-success {clear:both}
#sl_ad {clear:both;margin-bottom:10px}
#sl_tag_cloud .box_content {padding:0}
#tags {float:left;width:100%}
#mobile_menu {cursor:pointer;display:none;z-index:999}
.css1 { font-size: 15px; color:orange}
.css2 { font-size: 20px; color:#333}
.css3 { font-size: 30px; color:blue; }
.css4 { font-size: 45px; color:red;}
.red {color:#eb008b !important}

/* Common Class */
.arial {font-family:Arial}
.noneData {text-align:center}
.clear{clear:both}
.none{display:none}
.number {font-family:Arial;letter-spacing:0}
.wrapper {margin:0 auto;width:728px}
.jumbotron {margin:30px 0}
.page-header {border-bottom:1px solid #999}

/* header */
header {position:relative}
header h1 a,header h1 a:visited  {color:$default-color}
header nav { position: relative; z-index: 999; margin:0; padding:0}
header nav ul { float: right; margin: 1.5em 0 0 0; padding: 0}
header nav li { float: left; list-style: none; margin: 0 0 0 20px}
header nav ul.nav-pills > li + li {margin-left:20px}
header nav a { float: left; color: #fff; font-size:1.3em; text-decoration: none}
header nav ul li ul {position:absolute;display:none}
header #top_menu {
  position: absolute;
  top: 5px;
  right: 30px;
  float: left;
  list-style: none;
  z-index: 9;
}

header #top_menu ul {list-style: none}
header #top_menu li {float:left;margin:0 15px 0 0;padding:0}

#question h2 {color:#666;background:#ccc;border-radius:10px;font-size:20px;padding:20px}
.question ul {list-style:none;margin:20px 0 40px;padding:0}
.question li {margin:20px 0;padding:0}
label.checked {color:red}
article.question li {color:#666}
article.question li b {color:#333}
.sub_question,.custom_answer {margin:20px 0 30px;padding:0 20px 0 50px}
#sl_login_form {margin-top:50px}
ul.main_question {padding-left:30px}


#survey_info {text-align:center;background:#ccc;border-radius:10px;padding:20px 10px}
#survey_info p {line-height:160%}
#survey_info .imp {color:red;font-weight:bold}

.panel-heading h3.panel-title {font-size:24px;padding:7px 0}
.panel-heading a {float:right}
.panel-body ul {padding:0 6%;list-style:none}

#question_count {position:absolute;left:0;width:100%;margin:0;background:#ccc;text-align:center;font-weight:bold;color:#666}


@media all and (max-width: 768px) {
  #top_menu {display:none}
  #mobile_menu {display:block;position:absolute;top:5px;right:10px;}

  header {height:30px;border-bottom:0;margin:0}
  header h1 {padding:0;font-size:20px;text-align:left}
  header h1 a {display:block;margin:4px 0 0 15px;background:none;text-indent:0;width:100%;font-weight:bold}
  header h1 a:hover {text-decoration:none}
  header h1 a:active {color:red}
  #mom {float:left;clear:both;width:100%;margin:0}
  #main {float:left;margin:0;width:100%;padding:3%;border-radius:5px;background:#fff;}
  .sub_main {clear:both;width:100%;padding-top:10px}
  footer {border-radius:5px;width:100%;margin:3px 0 0;padding:5px}
  footer address {margin:1px 0 0;font-size:14px}
  #question_count {top:30px;padding:15px 0;font-size:16px}
  .show_count .sub_main {padding:30px 0 30px}
}

@media all and (min-width: 769px) and (max-width: 1024px) {
  header {height:5rem;border-bottom:1px solid var(--bs-border-color)}
  header h1 {font-size:24px}
  header h1 a {display:block;margin:8px 0 0;}
  footer {height:4rem;border-top:1px solid var(--bs-border-color);padding:1rem}
  footer address {margin:2px 0 0;font-size:16px}
  #mom {margin:-5rem 0 -4rem;min-height:100%}
  #main {padding-top:5rem;padding-bottom:4rem}
  #question_count {top:50px;padding:15px 0;font-size:20px}
  .show_count .sub_main {padding:50px 0 30px}
}

@media all and (min-width: 1025px) {
  header {height:6rem;border-bottom:1px solid var(--bs-border-color)}
  header h1 a {display:block;margin:17px 0 0}
  footer {height:5rem;border-top:1px solid var(--bs-border-color);padding:1rem}
  footer address {margin:5px 0 0}
  #mom {margin:-6rem 0 -5rem;min-height:100%}
  #main {padding-top:6rem;padding-bottom:5rem}
  #question_count {top:80px;padding:30px 0}
  .show_count .sub_main {padding:100px 0 30px}
}

@media all and (min-width: 1200px) {
  body {
    font-size: 16px
  }
}

@media (min-width: 1500px) {
  body {
    font-size: 18px
  }

  .container {
    width: 1500px
  }
}




.close {
  position:absolute;
  top:10px;
  right:10px;
}

.form-group {
  margin-bottom:1.5rem
}

@include color-mode(dark) {
  body {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
  }
  header h1 a,header h1 a:visited  {color: var(--bs-body-color)}
  .page-header h1, .page-header h2 {color: var(--bs-body-color)}
  header,.jumbotron,.media,.card-body,aside article,#faqList dt a.title,.modal-body, .modal-footer,.sl_content_header,.thead-default th {background-color:var(--bs-secondary-bg)}
}

@include color-mode(light) {
  a {
    color: #666
  }
  a:hover {
    color: #333
  }
  a:visited {
    color: #999
  }
  a:active {
    color: #000
  }

  aside a,aside a:visited {color:#fff}
}